.glow-cursor {
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(1, 38, 111, 0.288) 0%, rgba(3, 35, 91, 0) 70%);
  transition: transform 0.1s ease-out;
  mix-blend-mode: lighten;
}

.project:hover .project-title {
  color: #2dd4bf  ;
  transition: color 0.2s ease-in-out;
}

.project:hover .project-title .icon {
  transform: translateX(3px) translateY(-3px);
  transition: transform 0.2s ease-in-out;
}